.main-container{
    display: grid;
   grid-template-columns:4fr 1fr;
   padding-left: 60px;
}
.foods-container{
  margin-top: 60px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3,1fr);
}
.order-component{
    background-color: rgba(255, 173, 80, 0.616);
    
}
@media only screen and (max-width:960px){
  .foods-container{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2,1fr);
  }
}