.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(27, 23, 54);
    color: white;
    
}
.header a{
    text-decoration: none;
    color: white;
    margin-left: 100px;
    font-size: 17px;
}